name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build distributions
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build
        run: uv build
      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/

  test-publish:
    name: Publish to TestPyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: testpypi
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Download built distributions
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist/
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Publish to TestPyPI
        run: uv publish --index testpypi

  publish:
    name: Publish to PyPI
    needs: [build, test-publish]
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
    steps:
      - name: Download built distributions
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist/
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Publish to PyPI
        run: uv publish
